/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

body{
  font-family:"Montserrat";
  /* text-align: center; */
}

.bolld {
font-family:"Montserrat-bold";
font-weight: bold;
font-size: 3rem;
}



/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                              /* TITLE-BUTTONS */



/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                              /* Headings */


.d-block{

  height:450px;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                             /* SECTION-TITLE */
                                             #title{
                                               padding:3% 10%;
                                             }

/* ------------------------------------------------------------------------------------------------------------------ */

                  /* Nav Bar */

.nav-link{

  onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='green'"
}
/* ------------------------------------------------------------------------------------------------------------------ */

                     /* Title  */

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                          /* SECTION-FEATURES */

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                             /* SECTION-TESTIMONIALS */


#Portfolio{
  padding:6% 10%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                             /* SECTION-PRESS */



/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                             /* SECTION-PRICING */
#blog{
  padding:6% 10%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                             /* SECTION-CTA */
#contact{
  padding:6% 10%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                             /* SECTION-FOOTER */

#footer{
  padding:6% 10%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                             /* SECTION-MEDIA-TITLE */

/* ------------------------------------------------------------------------------------------------------------------ */
